{% extends "base/base_dashboard.html" %}
{% load i18n %}
{% load static %}

{% block content %}

<h1>{% trans "Wallet" %}</h1>

<!-- بخش موجودی کیف پول -->
<div>
    <p>
        {% trans "Balance" %}: {{ wallet.balance }}
    </p>
</div>

<hr>

<!-- دکمه‌های عملیات -->
<div>
    <a href="#" style="margin-right: 10px;">
        + {% trans "Increase Wallet Balance" %}
    </a>

    <a href="{% url 'wallet:withdraw_request' %}">
        - {% trans "Withdraw from Wallet" %}
    </a>
</div>

<hr>

<!-- لیست تراکنش‌ها -->
<h2>{% trans "Wallet Transactions" %}</h2>

<table>
    <thead>
        <tr>
            <th>{% trans "Amount" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Reference ID" %}</th>
            <th>{% trans "Details" %}</th>
        </tr>
    </thead>

    <tbody>
        {% for tx in transactions %}
        <tr>
            <td>{{ tx.amount }}</td>
            <td>{{ tx.get_transaction_type_display }}</td>
            <td>
                {% if tx.is_success %}
                    {% trans "Success" %}
                {% else %}
                    {% trans "Failed" %}
                {% endif %}
            </td>
            <td>{{ tx.reference_id }}</td>
            <td>
                <a href="{% url 'wallet:wallet_transaction_detail' tx.pk %}">
                    {% trans "View" %}
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">{% trans "No transactions found." %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div>

    {% if transactions.has_previous %}
        <a href="?page=1">
            First
        </a>

        <a href="?page={{ transactions.previous_page_number }}">
            Previous
        </a>
    {% endif %}

    <span>
        {{ transactions.number }}
        /
        {{ transactions.paginator.num_pages }}
    </span>

    {% if transactions.has_next %}
        <a href="?page={{ transactions.next_page_number }}">
            Next
        </a>

        <a href="?page={{ transactions.paginator.num_pages }}">
            Last
        </a>
    {% endif %}

</div>
{% endblock %}