{% extends "base/base_dashboard.html" %}
{% load i18n %}
{% load static %}
{% load price_filters %}


{% block content %}

<h1>{% trans "Wallet" %}</h1>

<!-- بخش موجودی کیف پول -->
<div>
    <p>
        {% trans "Balance" %}: {{ wallet.balance }}
    </p>
</div>

<hr>

<!-- دکمه‌های عملیات -->
<div>

    <a
        hx-get="{% url 'wallet:charge' %}"
        hx-target="#dashboard-content"
        hx-swap="innerHTML"
    >
        + {% trans "Increase Wallet Balance" %}
    </a>

    <a
        hx-get="{% url 'wallet:withdraw_request' %}"
        hx-target="#dashboard-content"
        hx-swap="innerHTML"
    >
        - {% trans "Withdraw from Wallet" %}
    </a>

</div>

<hr>

<!-- لیست تراکنش‌ها -->
<h2>{% trans "Wallet Transactions" %}</h2>

<table>
    <thead>
        <tr>
            <th>{% trans "Amount" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Reference ID" %}</th>
            <th>{% trans "Details" %}</th>
        </tr>
    </thead>

    <tbody>
        {% for tx in transactions %}
        <tr>
            <td>{{ tx.amount|comma }}</td>
            <td>{{ tx.get_transaction_type_display }}</td>
            <td>
                {% if tx.is_success %}
                    {% trans "Success" %}
                {% else %}
                    {% trans "Failed" %}
                {% endif %}
            </td>
            <td>{{ tx.reference_id }}</td>
            <td>
                <a
                    hx-get="{% url 'wallet:wallet_transaction_detail' tx.pk %}"
                    hx-target="#dashboard-content"
                    hx-swap="innerHTML"
                >
                    {% trans "View" %}
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">{% trans "No transactions found." %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">

    {% if page_obj.has_previous %}

        <a
            hx-get="{% url 'wallet:wallet_dashboard' %}?page={{ page_obj.previous_page_number }}"
            hx-target="#dashboard-content"
            hx-swap="innerHTML"
        >
            {% trans "Previous" %}
        </a>

    {% endif %}

    <span>

        {% trans "Page" %}
        {{ page_obj.number }}
        {% trans "of" %}
        {{ page_obj.paginator.num_pages }}

    </span>

    {% if page_obj.has_next %}

        <a
            hx-get="{% url 'wallet:wallet_dashboard' %}?page={{ page_obj.next_page_number }}"
            hx-target="#dashboard-content"
            hx-swap="innerHTML"
        >
            {% trans "Next" %}
        </a>

    {% endif %}

</div>
{% endblock %}