{% extends "base/base_dashboard.html" %}
{% load i18n %}
{% load static %}
{% load price_filters %}


{% block content %}

<h1>{% trans "Withdraw from Wallet" %}</h1>

<div class="wallet-balance-box">
    <p>
        {% trans "Current Balance" %}: {{ request.user.wallet.balance|comma }}
    </p>
</div>

<form method="post" class="withdraw-form" action="{% url 'wallet:withdraw_request' %}">
    {% csrf_token %}

    <div class="form-group">
        <label for="withdraw-amount">{% trans "Amount" %}</label>
        <input
            type="number"
            id="withdraw-amount"
            name="amount"
            class="form-control"
            value="{{ form.amount.value|default:'' }}"
            placeholder="{% trans 'Enter amount' %}"
        >
        {% if form.amount.errors %}
            <div class="error">
                {{ form.amount.errors }}
            </div>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">
        {% trans "Submit Withdraw Request" %}
    </button>
</form>

<hr>

<a
        hx-get="{% url 'wallet:wallet_dashboard' %}"
        hx-target="#dashboard-content"
        hx-swap="innerHTML"
        class="w-full text-right p-2 bg-white rounded shadow"
    >
        {% trans "My Wallet" %}
</a>

{% endblock %}