{% load i18n %}

<div class="pagination">

    {% if page_obj.has_previous %}
        <a
            hx-get="?page={{ page_obj.previous_page_number }}"
            hx-target="#dashboard-content"
            hx-swap="innerHTML"
        >
            {% trans "Previous" %}
        </a>
    {% endif %}

    <span>
        {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        <a
            hx-get="?page={{ page_obj.next_page_number }}"
            hx-target="#dashboard-content"
            hx-swap="innerHTML"
        >
            {% trans "Next" %}
        </a>
    {% endif %}

</div>