{% extends "base/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans "Coins" %}
{% endblock %}

{% block content %}

<h2>{% trans "Coins" %}</h2>

{% for coin in coins %}
    <div style="margin-bottom: 20px; border: 1px solid #ddd; padding: 10px;">
        <h3>{{ coin.get_coin_type_display }}</h3>

        {% if coin.image %}
            <img src="{{ coin.image.url }}" width="120">
        {% endif %}

        <p>{% trans "Weight" %}: {{ coin.weight }} g</p>

        <p>
            {% trans "Current Price" %}:
            {{ coin.final_price|default:"-" }}
        </p>

        {% if coin.status == "available" %}
            <form action="{% url 'product:coin_buy' coin.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="buy-btn">
                    {% trans "Buy Now" %}
                </button>
            </form>
        {% else %}
            <span class="out-of-stock">
                {% trans "Out of Stock" %}
            </span>
        {% endif %}


    </div>
{% endfor %}

{% endblock %}