{% extends "base/base_dashboard.html" %}
{% load i18n %}
{% load static %}
{% load price_filters %}


{% block title %}
    {% trans "Requests" %}
{% endblock %}


{% block content %}

<h2>{% trans "My Sell Requests (Melted Gold)" %}</h2>

<table class="table">
    <thead>
        <tr>
            <th>{% trans "Gold Amount (g)" %}</th>
            <th>{% trans "Total Price" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Date" %}</th>
        </tr>
    </thead>

    <tbody>
        {% for order in page_obj %}
            {% with item=order.items.first %}
            <tr>
                <td>{{ item.gold_amount }}</td>
                <td>{{ item.total_price|comma }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.created_at|date:"Y-m-d H:i" }}</td>
            </tr>
            {% endwith %}
        {% endfor %}
    </tbody>
</table>

{% include 'base/pagination.html' %}

{% endblock %}