{% extends "base/base_dashboard.html" %}
{% load i18n %}
{% load static %}
{% load price_filters %}
{% load jalali %}

{% block title %}
    {% trans "Requests" %}
{% endblock %}


{% block content %}

<h2>{% trans "My Sell Requests (Melted Gold)" %}</h2>

<table class="table">
    <thead>
        <tr>
            <th>{% trans "Gold Amount (g)" %}</th>
            <th>{% trans "Total Price" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Date" %}</th>
        </tr>
    </thead>

    <tbody>
        {% for order in page_obj %}
            {% with item=order.items.first %}
            <tr>
                <td>{{ item.gold_amount }}</td>
                <td>{{ item.total_price|comma }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.created_at|jalali }}</td>
            </tr>
            {% endwith %}
        {% endfor %}
    </tbody>
</table>

<div class="pagination">

    {% if page_obj.has_previous %}

        <a
            hx-get="{% url 'order:user_sell_list' %}?page={{ page_obj.previous_page_number }}"
            hx-target="#dashboard-content"
            hx-swap="innerHTML"
        >
            {% trans "Previous" %}
        </a>

    {% endif %}

    <span>

        {% trans "Page" %}
        {{ page_obj.number }}
        {% trans "of" %}
        {{ page_obj.paginator.num_pages }}

    </span>

    {% if page_obj.has_next %}

        <a
            hx-get="{% url 'order:user_sell_list' %}?page={{ page_obj.next_page_number }}"
            hx-target="#dashboard-content"
            hx-swap="innerHTML"
        >
            {% trans "Next" %}
        </a>

    {% endif %}

</div>

{% endblock %}