{% extends "base/base_dashboard.html" %}
{% load i18n %}
{% load static %}
{% load price_filters %}
{% load jalali %}

{% block content %}

<h2>
    {% trans "User Profile" %}:
    {{ user_obj.full_name }} ({{ user_obj.phone_number }})
</h2>

<hr>

<h3>{% trans "Basic Information" %}</h3>
<ul>
    <li>{% trans "Phone" %}: {{ user_obj.phone_number }}</li>
    <li>{% trans "First Name" %}: {{ user_obj.first_name }}</li>
    <li>{% trans "Last Name" %}: {{ user_obj.last_name }}</li>
    <li>{% trans "Email" %}: {{ user_obj.email }}</li>
    <li>{% trans "National Code" %}: {{ user_obj.national_code }}</li>
</ul>

<hr>

<h3>{% trans "Wallet" %}</h3>
<p>
    {% trans "Balance" %}:
    {{ wallet.balance|comma }}
</p>

<hr>

<h3>{% trans "Gold Inventory" %}</h3>
<p>
    {% trans "Gold Amount" %}:
    {{ gold_inventory.amount }} {% trans "grams" %}
</p>

{% endblock %}